# Bonus: Temperature Analysis I

In [22]:
import pandas as pd
from datetime import datetime as dt

In [23]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [24]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [27]:
# Set the date column as the DataFrame index
df = df.set_index(df['date'])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [28]:
# Drop the date column
df = df.drop(columns='date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [29]:
from scipy import stats

In [30]:
# Filter data for desired months
June_df = df[df.index.month == 6 ]
June_df.head()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [31]:
# Filter data for desired months
Dec_df = df[df.index.month == 12 ]
Dec_df.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [32]:
# Identify the average temperature for June
June_df['tobs'].mean()

74.94411764705882

In [33]:
# Identify the average temperature for December
Dec_df['tobs'].mean()

71.04152933421226

In [38]:
# Create collections of temperature data
list_June_temp  = June_df['tobs']
list_Dec_temp  = Dec_df['tobs']

In [36]:
# Run paired t-test
stats.ttest_ind(list_June_temp, list_Dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [13]:
Dec_df.describe()

              prcp         tobs
count  1405.000000  1517.000000
mean      0.216819    71.041529
std       0.541399     3.745920
min       0.000000    56.000000
25%       0.000000    69.000000
50%       0.030000    71.000000
75%       0.150000    74.000000
max       6.420000    83.000000

### Analysis

##### Use the t-test to determine whether the difference in the means, if any, is statistically significant. Will you use a paired t-test, or an unpaired t-test? Why?

##### For this assignment, an unpaired t-test was used because it consisted of two independent or unrelated groups, December temperatures v. June temperatures. In other words, the observations are sampled independently at two different months of the year. Also, because the p-value is higher than 0.005 we can accept the alternative hypothesis and reject the null hypothesis...which means that there is a significant difference between the two means.